$grey: #CCCCCC;
$light-grey: #E6E6E6;
$button-grey: #757575;
$button-bg-grey: #F1F1F1;

@mixin standardFont($font-size) {
    font-size: $font-size;
}

.search {
    width: 36rem;
    margin: 0 auto;
    margin-top: 5em;
    font-family: Arial, Helvetica, sans-serif;

    .search-bar {
        position: relative;
        border: 1px solid $grey;
        border-radius: 2px;
        box-shadow: 1px 4px 8px #D3D3D3;

        .search-bar-input {
            width: calc(100% - 2.2em);
            padding: 0.6rem;
            padding-right: calc(1.5em - 0.1em);
            @include standardFont(1em);
            outline: none;
        }

        .search-bar-microphone {
            width: 1.5em;
            position: absolute;
            right: 0;
            top: 0.6em;
        }

        .search-autosuggest {
            box-shadow: 1px 4px 8px #D3D3D3;
        }
        
        .search-bar--autosuggest {
            box-shadow: none;
        }
    }

    
    .search-suggestions {
        border: 1px solid $grey;
        border-top: 0;
        border-bottom: 0;
        @include standardFont(1em);

        .search-suggestions-list {
            padding-right: 1em;
            line-height: 1.5;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .search-suggestions-list-result {
            padding-left: 1em;
        }
        
        .search-suggestions-list:last-child {
            border: 1px solid $grey;
        }
        
        .search-suggestions-list-result:hover {
            background: $light-grey;
            cursor: pointer;
        }
    }

    .search-actions {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 2em;
        margin-top: 2em;
        text-align: center;

        .search-actions-autosuggest {
            margin: 0;
            border: 1px solid #000000;
            border-top: 0;
            padding: 1em 0 0.1em 0;
        }
        
        .search-actions-action {
            height: 2em; 
            @include standardFont(13px);
            font-weight: 700;
            color: $button-grey;
            margin-top: 1em;
            background: $button-bg-grey;
            padding: 0.4em 1em;
            outline: none;
            border: none;
            margin: 0.2 0.2em;
            &:hover {
                color: #000000;
                box-shadow: 0px 0px 2px #A9A9A9; 
            }
        }
    }
}